body {
	font-family: 'Slabo 27px', serif;
}

.header {
	border-bottom: 0.5px solid #ddd;
}

.header-logo {
	font-weight: 600;
	font-size: 24px;
}

.header > * {
	margin: auto 0;
}

.menu.text-right.col-sm-8 button {
	border: 0;
}